
/*------------------------------------------------------------------
    Variables & Fonts
------------------------------------------------------------------*/

:root {
    /* Colors */
    --dark: #000;
    --light: #fff;
    --hue-red: 10;
    --hue-orange: 40;
    --hue-yellow: 80;
    --hue-green: 160;
    --hue-blue: 193;
    --hue-purple: 240;
    --gridx-saturation: 60%;
    --gridx-luminosity: 70%;
    --alpha-1: 1;
    --alpha-05: 0.5;
    --gridx-blue: hsla(var(--hue-blue), var(--gridx-saturation), var(--gridx-luminosity), var(--alpha-1));
    --gridx-purple: hsla(var(--hue-purple), var(--gridx-saturation), var(--gridx-luminosity), var(--alpha-1));
    --gridx-green: hsla(var(--hue-green), var(--gridx-saturation), var(--gridx-luminosity), var(--alpha-1));
    --gridx-yellow: hsla(var(--hue-yellow), var(--gridx-saturation), var(--gridx-luminosity), var(--alpha-1));
    --gridx-orange: hsla(var(--hue-orange), var(--gridx-saturation), var(--gridx-luminosity), var(--alpha-1));
    --gridx-red: hsla(var(--hue-red), var(--gridx-saturation), var(--gridx-luminosity), var(--alpha-1));
    --gridx-blue-alpha: hsla(var(--hue-blue), var(--gridx-saturation), var(--gridx-luminosity), var(--alpha-05));

    /* Space */
    --sp-xl: 12rem;
    --sp-l: 6rem;

    /* Units */
    --u1: 8px;
    --u2: calc(var(--u1) * 2);
    --u3: calc(var(--u1) * 3);
    --u4: calc(var(--u1) * 4);
    --u5: calc(var(--u1) * 5);
    --u6: calc(var(--u1) * 6);
    --u7: calc(var(--u1) * 7);
    --u8: calc(var(--u1) * 8);
    --u9: calc(var(--u1) * 9);

}

@media screen and (max-width: 1900px) {
    :root {
        --sp-xl: 6rem;
        --sp-l: 3rem;
    }
}

@font-face {
    font-family: 'Firs';
    src: url('../assets/font/firs-regular.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Firs';
    src: url('../assets/font/firs-demibold.woff2');
    font-weight: bold;
}

/*------------------------------------------------------------------
    Reset
------------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-os-font-smoothing: grayscale;
    font-size: 1em;
    height: 100%;
    font-family: 'Firs';
    font-weight: normal;
}
body {
    overflow-x: hidden;
    background-color: var(--dark);
}
div {
    box-sizing: border-box;
}


/*------------------------------------------------------------------
    Type
------------------------------------------------------------------*/

h1, h2, h3, h4, p {
    margin: 0 0 0.2em 0;
    font-weight: normal;
}

.text-white {
    color: var(--light);
}
.text-bold {
    font-weight: bold;
}
.text-huge {
    font-size: 15vmax;
    line-height: 0.8em;
}
.text-big {
    font-size: 12vmax;
    line-height: 0.8em;
}
.text-7xl {
    font-size: 160px;
    line-height: 94%;
}

.text-6xl {
    font-size: 120px;
    line-height: 98%;
}
.text-5xl {
    font-size: 90px;
    line-height: 98%;
}
.text-4xl {
    font-size: 67px;
    line-height: 102%;
}

.text-3xl {
    font-size: 51px;
    line-height: 110%;
}
.text-2xl {
    font-size: 38px;
    line-height: 130%;
}
.text-xl {
    font-size: 28px;
    line-height: 130%;
}

.text-l {
    font-size: 21px;
    line-height: 130%;
}
.text-m {
    font-size: 16px;
    line-height: 130%;
}
.text-s {
    font-size: 12px;
    line-height: 130%;
}
sup {
    line-height: 0;
}

/*------------------------------------------------------------------
  List
*/
ol {
  list-style: none;
  counter-reset: custom-counter;
  display: grid;
  grid-template-columns: repeat(3, 1fr [col-start]);
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: custom-counter;
  display: block;
  margin-bottom: 0.5rem;
  padding-right: var(--u6);
}
ol li::before {
  content: counter(custom-counter) ".";
  font-weight: bold;
  font-size: var(--u7);
  margin-right: 0.5rem;
  line-height: 1;
  display: block;
}

/*------------------------------------------------------------------
  Links
*/
a {
  color: var(--gridx-blue);
  transition: color 0.4s;
}
a:hover {
  color: var(--gridx-red);
}



/*------------------------------------------------------------------
    Blocks & Layout
------------------------------------------------------------------*/
/*------------------------------------------------------------------
    Blocks
*/
.section {
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
}

.section-title {
    margin-bottom: -12%;
}

.container {
    width: 100%;
    /* max-width: 1440px; */
    display: flex;
    margin-bottom: var(--sp-l);
}
.chapter {
    padding-bottom: 60vh;
    margin-top: 30vh;
    max-width: 48ch;
}
.sticky {
    position: sticky;
    top: 6vh;
}

/*------------------------------------------------------------------
    Columns
*/
.col-left {
    padding-right: var(--sp-l);
    position: relative;
}
.col-1-2 {
    width: calc(100% / 2);
    position: relative;
}
.col-1-3 {
    width: calc(100% / 3);
    position: relative;
}
.col-1-4 {
  width: calc(100% / 4);
  position: relative;
}
.col-2-3 {
    width: calc(100% / 3 * 2);
    position: relative;
}
.col-full {
    width: 100%;
    position: relative;
}

/*------------------------------------------------------------------
    Spacing & sizing
*/
.no-padding {
    padding: 0;
}
.no-margin {
  margin: 0;
}
.padding-top-m {
    padding-top: var(--u6);
}
.padding-top-l {
    padding-top: var(--u8);
}
.padding-top-xl {
    padding-top: var(--sp-xl);
}
.padding-bottom-l {
  padding-bottom: var(--sp-l);
}
.padding-x-xl {
    padding-left: var(--sp-xl);
    padding-right: var(--sp-xl);
}

.padding-x-l {
    padding-left: var(--u4);
    padding-right: var(--u4);
}

.padding-y-l {
    padding-top: var(--u4);
    padding-bottom: var(--u4);
}

.padding-x-s {
    padding-left: var(--u1);
    padding-right: var(--u1);
}
.margin-x-s {
margin-left: var(--u1);
margin-right: var(--u1);
}
.aspect-4-3 {
    aspect-ratio: 4 / 3;
}
.aspect-16-9 {
    aspect-ratio: 16 / 9;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row > div {
  flex-grow: 1;
}

/*------------------------------------------------------------------
    Images
*/
img {
    width: 100%;
    height: 100%;
}
.radius-l {
    border-radius: var(--u2);
    overflow: hidden;
}

.img-wrapper .img-box {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.img-wrapper.bg-lights::after {
    content: '';
    background-image: url('../assets/blob.svg');
    background-size: contain;
    position: absolute;
    top: calc(var(--sp-l) * -1);
    bottom: calc(var(--sp-l) * -1);
    left: calc(var(--sp-l) * -1);
    right: calc(var(--sp-l) * -1);
    filter:blur(6rem);
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center center;
    animation: rotation 12s linear infinite;
}

.shadow::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#84edc1, #79c0ff);
    filter: blur(6rem);
    opacity: 0.5;
    z-index: -1;
}

/*------------------------------------------------------------------
    Colors
*/
.bg-light {
    background-color: var(--light);
}
.bg-dark {
    background-color: var(--dark);
}

/*------------------------------------------------------------------
    Play video
*/
.player {
    padding: var(--sp-l);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.play-icon.xl {
    width: var(--u9);
    height: var(--u9);
    background-image: url('../assets/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


/*------------------------------------------------------------------
    Sections
------------------------------------------------------------------*/

/*------------------------------------------------------------------
    Main
*/

@keyframes zeppelin {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes buildingAppear {
    0% {
        opacity: 0.01;
        filter: blur(10px);
        bottom: -6%;
    }
    100% {
        opacity: 1;
        filter: blur(0);
        bottom: 0;
    }
}

@keyframes logoAppear {
    0% {
        opacity: 0.01;
        filter: blur(80px);
    }
    100% {
        opacity: 0.99;
        filter: blur(0);
    }
}

.section.main {
	height: 140vh;
    justify-content: flex-start;
    padding: 12vh 0 0;
    background-image: linear-gradient(0deg, hsla(209, 58%, 18%, 0.6), transparent);
    overflow: hidden;
}

.section.main::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 24vh;
    background-image: linear-gradient(0deg, var(--dark), transparent);
    z-index: 1;
}

.section.main svg {
	max-height: 60vh;
    max-width: 80vw;
}

.section .building-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    animation: 2s cubic-bezier(0,.65,.33,.99) 1.2s 1 buildingAppear forwards;
}

.section .building img {
    width: 100%;
}

.scene.building {
	position: absolute;
	width: 100%;
    bottom: 0;
	transform: translateY(var(--translateY));
	will-change: transform;
}

.scene.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(var(--translateY));
    bottom: auto;
    top: 8vh;
    opacity: 0;
    animation: 1s ease-out 0s 1 logoAppear forwards;
}

.logo-svg {
    position: relative;
}
.logo-svg .svg-blur {
    position: absolute;
    top: 0%;
    left: 0%;
    filter: blur(60px);
    opacity: 0.6;
}

.building.zeppelin img{
    animation: zeppelin 90s forwards;
}

.scene.fadeBox { opacity: var(--o) !important; }
.scaleBox img { transform: scale(var(--s));}

/*------------------------------------------------------------------
    Sticky scroll images
*/
.modifiedElement img {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
.modifiedElement .active {
    opacity: 1;
}

/*------------------------------------------------------------------
    Entering on scroll
*/
.enterAnim {
    opacity: var(--opacity);
    transform: translateY(var(--translate)) scale(var(--scale));
}

/*------------------------------------------------------------------
    Video
*/
.video {
    background-image: url('../assets/video-placeholder.jpg');
    background-size: cover;
    aspect-ratio: 16 / 9;
    border-radius: var(--u2);
    max-height: 96vh;
}

/*------------------------------------------------------------------
    Map
*/
.map {
    background-image: url('../assets/map-vector.svg');
    background-size: contain;
    aspect-ratio: 16 / 9;
    border-radius: var(--u2);
    max-height: 96vh;
    background-repeat: no-repeat;
    background-position: center center;
}
/*------------------------------------------------------------------
    Museums
*/
.card {
    padding: var(--u6);
    background-color: var(--dark);
    margin: var(--u3);
    border-radius: var(--u2);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
    width: 50%;
}
.card::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#84edc1, #79c0ff);
    filter: blur(6rem);
    opacity: 0.5;
    z-index: -1;
}
.card img {
    width: auto;
    height: auto;
    max-height: 12rem;
}
/*------------------------------------------------------------------
    Sections side-by-side
*/
.card-text-container {
    padding: var(--u6) var(--sp-xl) var(--sp-l) var(--sp-xl) ;
}
.card-text-container p {
    max-width: 48ch;
}

/*------------------------------------------------------------------
    icons
*/

/* Animations */
@keyframes path1 {
    0% {
      opacity: 0;
    }
    72.2% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path2 {
    0% {
      opacity: 0;
    }
    66.65% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    94.4% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path3 {
    0% {
      opacity: 0;
    }
    61.1% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    88.9% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path4 {
    0% {
      opacity: 0;
    }
    55.55% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    83.3% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path5 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    77.75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path6 {
    0% {
      opacity: 0;
    }
    44.4% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    72.2% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path7 {
    0% {
      opacity: 0;
    }
    38.85% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    66.65% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path8 {
    0% {
      opacity: 0;
    }
    33.3% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    61.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path9 {
    0% {
      opacity: 0;
    }
    27.75% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    55.55% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path10 {
    0% {
      opacity: 0;
    }
    22.2% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path11 {
    0% {
      opacity: 0;
    }
    16.65% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    44.4% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path12 {
    0% {
      opacity: 0;
    }
    11.1% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    38.85% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path13 {
    0% {
      opacity: 0;
    }
    5.55% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    33.3% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes path14 {
    0% {
      opacity: 0;
      /* animation-timing-function: cubic-bezier(0, 0, 0.6, 1); */
    }
    27.75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }


/* Icons */
.icons-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr [col-start]);
  width: 100%;
}
a.icon-card {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--u3);
  text-decoration: none;
  color: inherit;
  transition: all 0.6s ease-out;
  border-radius: var(--u2);
  margin: var(--u2);
}
a.icon-card:hover {
  color: inherit;
  box-shadow: 0 var(--u2) var(--u6) var(--gridx-blue-alpha);
  transform: translateY( calc(0px - var(--u2)));
}
.icon-card .icon {
  width: 100%;
  max-width: var(--sp-xl);
  padding: var(--u4);
  opacity: 0;
  transition: all 1s;
}

.icons-block.anim .icon {
  opacity: 1;
}

.icons-block .icon .cls-1 {
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0, 0, 0.6, 1);
    animation-fill-mode:forwards;
    stroke-width: 3px;
  }


.icons-block.anim  .path1 {
    animation-name: path1;
    stroke-width: 10px;
  }
.icons-block.anim  .path2 {
    animation-name: path2;
  }
.icons-block.anim  .path3 {
    animation-name: path3;
  }
.icons-block.anim  .path4 {
    animation-name: path4;
  }
.icons-block.anim  .path5 {
    animation-name: path5;
  }
.icons-block.anim  .path6 {
    animation-name: path6;
  }
.icons-block.anim  .path7 {
    animation-name: path7;
  }
.icons-block.anim  .path8 {
    animation-name: path8;
  }
.icons-block.anim  .path9 {
    animation-name: path9;
  }
.icons-block.anim  .path10 {
    animation-name: path10;
  }
.icons-block.anim  .path11 {
    animation-name: path11;
  }
.icons-block.anim  .path12 {
    animation-name: path12;
  }
.icons-block.anim  .path13 {
    animation-name: path13;
  }
.icons-block.anim  .path14 {
    animation-name: path14;
  }

  /* New icons */
  .icon .cls-1 {fill:none;stroke: var(--gridx-blue);}
  .icon-a .cls-1 {stroke: var(--gridx-blue);}
  .icon-e .cls-1 {stroke: var(--gridx-purple);}
  .icon-m .cls-1 {stroke: var(--gridx-green);}
  .icon-h .cls-1 {stroke: var(--gridx-yellow);}
  .icon-E .cls-1 {stroke: var(--gridx-orange);}
  .icon-b .cls-1 {stroke: var(--gridx-red);}

/*------------------------------------------------------------------
  Impact
*/
.building-site {
  background-image: url('../assets/wickrange.jpg');
  background-size: cover;
  aspect-ratio: 16 / 6;
}